html {
}

body {
	margin: 0;
	padding: 0;
	overflow: scroll;
}

header {
	position: fixed;
	display: block;
	top: 1em;
	left: 1em;
	width: auto;
	z-index: 1;
}

#headertext:after{
	content: "World War 2 in Europe";
	font-size: 3em;
	font-family: 'Fjalla One', sans-serif;
}

nav{
	display: block;
	position: fixed;
	top: 2em;
	right: 2em;
	z-index: 1;
}

.navbutton{
	display: inline;
	background-color: rgba(51,51,51,0.8);
	color: rgba(222,222,222,1);
	font-size: 0.8em;
	text-decoration: none;
	border: 0.1em solid rgba(10,10,10,1);
	margin: 0.5em;
	border-radius: 1.5em;
	padding: 0.8em;
}

.navbutton:hover{
	background-color: rgba(222,222,222,1);
	color: rgba(51,51,51,0.8);
	border: 0.1em solid rgba(135,35,29,1);
}

.navbutton:focus{
	background-color: rgba(222,222,222,1);
	color: rgba(51,51,51,0.8);
	border: 0.1em solid rgba(135,35,29,1);
}

#map {
	position: absolute;
	top: 0;
	left: 0;
}

#scrollnorth {
	display: none;
	position: fixed;
	border: solid 1px red;
}

#scrolleast {
	display: none;
	position: fixed;
	border: solid 1px red;
}

#scrollsouth{
	display: none;
	position: fixed;
	border: solid 1px red;
}

#scrollwest {
	display: none;
	position: fixed;
	border: solid 1px red;
}
